.success {
  margin-left: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  transition: background 0.5s ease;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.success:hover {
  background-color: #2bbbad;
}

.active {
  background-color: #00688b;
}

.active:hover {
  background-color: #009acd !important;
}

button:focus {
  outline: 0;
}
